body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

#contentContainer {
    display: flex;
    flex-direction: column;
    width: 50%; /* Adjust this value if needed */
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center; /* Center content horizontally */
    padding-top: 20px;
    margin-bottom: 40px;
}

.search-area {
    width: 100%; /* Use 100% of the container width */
    max-width: 500px; /* Max width for larger screens */
    padding: 0 15px; /* Add some padding on smaller screens */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

#mapid {
    height: 100vh; /* Full height */
    width: 100%; /* Full width */
}

#mapContainer {
    flex-grow: 1;
    width: 50%; /* Ensures the map container takes up the remaining space */
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.form-control {
    flex-grow: 1; /* Allow the date inputs to fill the available space */
    margin: 0; /* Reset margin for alignment */
}

.input-group .form-control {
    border-right: 0; /* Remove right border of the input field to merge with icon */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.input-group, .form-control, button {
    width: 100%; /* Ensure elements fill the container */
    margin: 10px 0; /* Add some margin for spacing */
}

@media (min-width: 768px) {
    .main-container {
        flex-direction: row; /* Ensures side-by-side layout for content and map */
    }

    #contentContainer, #mapContainer {
        height: 100vh;
        flex: 1; /* This ensures both containers take up equal space */
    }
}

#loadingIndicator {
    position: fixed; /* Position fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    display: none; /* Initially hidden */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1050; /* High z-index to ensure it's above other content */
}

#loadingIndicator img {
    width: 100px; 
    height: 100px; 
}

#dateRangePicker {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="%23000" class="bi bi-calendar3" viewBox="0 0 16 16"><path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/></svg>');
    background-repeat: no-repeat;
    background-position: 10px center; /* Adjust icon position */
    padding-left: 30px; /* Adjust padding to make space for the icon */
}

/*Activities type buttons start*/
.activities-selection {
    display: flex; /* Enables flexbox layout */
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers children horizontally */
    text-align: center; /* Centers text */
    width: 100%; /* Takes full width of its parent */
    margin-bottom: 15px; /* Space below this section */
}

.activities-title {
    color: #495057; /* Text color */
    font-size: 1.25rem; /* Font size */
    margin-bottom: 10px; /* Space below the title */
}

.activities-btn-group {
    display: flex;
    flex-wrap: wrap; /* Allows buttons to wrap */
    justify-content: left; /* Centers buttons in the container */
    gap: 10px; /* Space between buttons */
    max-width: 400px; /* Maximum width of the button group */
}

.btn-activity {
    padding: .375rem .75rem; /* Padding around text */
    font-size: .875rem; /* Font size */
    border-radius: .25rem; /* Rounded corners */
    border: 1px solid #ced4da; /* Border color */
    background-color: #f8f9fa; /* Background color */
    color: #495057; /* Text color */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    white-space: nowrap; /* Keeps text on one line */
}

.btn-activity:hover, .btn-activity:focus {
    background-color: #e2e6ea; /* Hover/focus background color */
    color: #212529; /* Hover/focus text color */
    border-color: #d1d3d4; /* Hover/focus border color */
}

.btn-activity.active, .btn-activity:active {
    background-color: #007bff; /* Active background color */
    color: #ffffff; /* Active text color */
    border-color: #007bff; /* Active border color */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .5); /* Glow effect */
}
/*Activities type end here*/

/* Reduce the space between input groups */
.input-group.mb-3 {
    margin-bottom: 5px; /* Decrease bottom margin to reduce space between input groups */
}

/* Make input fields smaller */
.form-control {
    height: 36px; /* Reduce height for a more compact look */
    padding: 6px 10px; /* Adjust padding to align with the reduced height */
    font-size: 14px; /* Optionally adjust the font size for better fit in smaller inputs */
}

/* Align button size with smaller input fields */
.input-group-append .btn {
    height: 36px; /* Match the height of the input fields */
    padding: 6px 12px; /* Adjust padding to keep visual consistency */
}
