body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.main-container {
    display: flex;
    height: 100vh; /* Full viewport height */
}

#contentContainer {
    display: flex;
    flex-direction: column;
    width: 50%; /* Adjust this value if needed */
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Align content to the top */
    align-items: center; /* Center content horizontally */
    padding-top: 20px;
    margin-bottom: 40px;
    overflow-y: auto;
}

.search-area {
    width: 100%; /* Use 100% of the container width */
    max-width: 500px; /* Max width for larger screens */
    padding: 0 15px; /* Add some padding on smaller screens */
    box-sizing: border-box; /* Include padding in the element's total width and height */
}

#mapid {
    height: 100vh; /* Full height */
    width: 100%; /* Full width */
}

#mapContainer {
    flex-grow: 1;
    width: 50%; /* Ensures the map container takes up the remaining space */
}

.input-group-text {
    background: #007bff;
    color: white;
    border: 0;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.form-control {
    flex-grow: 1; /* Allow the date inputs to fill the available space */
    margin: 0; /* Reset margin for alignment */
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.input-group, .form-control, .custom-range, button {
    width: 100%; /* Ensure elements fill the container */
    margin: 10px 0; /* Add some margin for spacing */
}

@media (min-width: 768px) {
    .main-container {
        flex-direction: row; /* Ensures side-by-side layout for content and map */
    }

    #contentContainer, #mapContainer {
        height: 100vh;
        flex: 1; /* This ensures both containers take up equal space */
    }
}

#loadingIndicator {
    position: fixed; /* Position fixed to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100vw; /* 100% of the viewport width */
    height: 100vh; /* 100% of the viewport height */
    display: none; /* Initially hidden */
    justify-content: center; /* Center children horizontally */
    align-items: center; /* Center children vertically */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1050; /* High z-index to ensure it's above other content */
}

#loadingIndicator img {
    width: 100px; 
    height: 100px; 
}

h2 {
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

/* Style for the list group */
.list-group-item {
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    display: block;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    transition: all 0.2s;
}

.list-group-item:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.attraction-content {
    display: flex;
    flex-direction: column;
}

.attraction-name {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    color: #007bff; /* Bootstrap primary color */
}

.attraction-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 4px;
}

.attraction-distance, .attraction-kinds {
    background: #f2f2f2;
    border-radius: 5px;
    padding: 2px 8px;
    color: #555;
}

.attraction-coordinates {
    font-size: 12px;
    color: #999;
}

/* Style for the attraction details */
.mb-1, .small {
    color: #555;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.align-items-start {
    align-items: flex-start;
}
