<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link href="{{ url_for('static', filename='css/about.css') }}" rel="stylesheet">
</head>
<body>
    <header class="masthead">
        <h1>About Us</h1>
    </header>
    <div class="container">
        <div class="co-founders">
            <div class="co-founder">
                <img src="{{ url_for('static', filename='images/aby.jpg') }}" alt="Aby">
                <p>Aby</p>
                <span>Co-founder</span>
            </div>
            <div class="co-founder">
                <img src="{{ url_for('static', filename='images/love_kush.jpg') }}" alt="Love Kush">
                <p>Love Kush</p>
                <span>Co-founder</span>
            </div>
            <div class="co-founder">
                <img src="{{ url_for('static', filename='images/niharika.jpg') }}" alt="Niharika">
                <p>Niharika</p>
                <span>Co-founder</span>
            </div>
            <div class="co-founder">
                <img src="{{ url_for('static', filename='images/mullai.jpg') }}" alt="Mullai">
                <p>Mullai</p>
                <span>Co-founder</span>
            </div>
            <div class="co-founder">
                <img src="{{ url_for('static', filename='images/amal.png') }}" alt="Amal">
                <p>Amal</p>
                <span>Co-founder</span>
            </div>
        </div>
    </div>
</body>
</html>
